#container-main{
  position: absolute;
  display: block;
  width: 98.3%;
  height: 98%;
  padding: 2px;
  border: 2px solid black;
}

#container-list {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    border: 1px solid black;
  }
  input[type=text] {
    padding:10px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 55px;
    padding-left: 150px;
    margin-left:30px;
}
#list-title{
    padding-left: 140px;
    text-decoration: underline;
  }
#container-time{
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
  position: fixed;
  margin: 20px;
  text-align: center;
  font-size: 500%;
  border: 1px solid black;
  left:50%;
  top:25%;
  width: 50%;
}